/*------------------------------------*\
    BASE-SETTINGS
\*------------------------------------*/

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: normal;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin-bottom: 0px;
}

a:hover,
a:focus,
input:focus,
button:focus {
    text-decoration: none !important;
    outline: 0 !important;
}

/*------------------------------------*\
    GLOBAL CSS
\*------------------------------------*/
.tb-container {
    width: 100%;
}
.tbCS-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}
/* === Landing Page ==== */
.flip-box {
    position: relative;
    padding-bottom: 20px;
}
.flip-box .inner-box {
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 20%);
}

.flip-box .inner-box > div {
    backface-visibility: hidden;
    transition: all 0.5s linear;
}

.flip-box .overlay {
    z-index: 1;
    opacity: 1;
    text-align: center;
    padding: 20px 30px;
    background: #262051;
    color: #aeaacb;
    /* -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg); */
    transform: rotateY(180deg);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-box .overlay span {
    z-index: -1;
}

.flip-box .number-box {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 1;
    position: absolute;
    bottom: 28px;
    right: 15px;
    color: rgba(255, 255, 255, 0.2);
}

.flip-box h3 {
    font-weight: 700;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    margin-bottom: 0;
    color: #fff;
    font-weight: normal;
}

.flip-box .overlay {
    z-index: 1;
    opacity: 1;
    text-align: center;
    padding: 20px 30px;
    background: #262051;
    color: #aeaacb;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.btn-details {
    font-size: 14px;
    font-weight: 700;
    color: #43baff;
}

.flip-box:hover .inner-box {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.content-box img {
    width: 100%;
}
/* === Health Care Coporate === */
.tb-hcc-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.logo {
    margin: 102px auto 45px auto;
    max-width: 165px;
    text-align: center;
}
.hcc-title {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
    font-size: 64px;
    color: #fff;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 30px;
}
.hcc-text {
    text-align: center;
    font-size: 28px;
    color: #1a525f;
    line-height: 28px;
    margin-bottom: 30px;
}
.hcc-counter {
    margin: 0 auto;
    max-width: 560px;
    margin-bottom: 30px;
}
.hcc-counter div b {
    display: block;
    font-size: 64px;
    color: #fff;
    font-weight: 700;
    line-height: 60px;
}
.hcc-counter div span {
    display: block;
    font-size: 28px;
    color: #1a525f;
    line-height: 28px;
}
.tbCS-s-icon {
    display: flex;
    justify-content: center;
}
